- in_section :people
- content_for :title do
  #{@person}

.row
  .span12
    .person-header
      .person-avatar
        = person_avatar_with_fallback(@person, 150)

      .person-values-and-tags
        %ul.person-values
          %li
            %h3= number_as_cents(@person.lifetime_ticket_value)
            %h6= pluralize(@person.tickets.length, 'tickets')
          %li
            %h3= number_as_cents(@person.lifetime_donations)
            %h6= pluralize(@person.orders.collect(&:donations).flatten.length, 'donation')
          %li
            %h3= number_as_cents(@person.lifetime_value)
            %h6 lifetime

        .person-tags
          = render :partial=>'shared/tags', :locals => { :tags => @person.tag_list, :subject => @person }


      %h1 #{@person}
      %h6.company-and-title= [@person.title, @person.company_name].select {|s| s.present? }.join(', ')

      %ul.person-links
        -if @person.email.present?
          %li= mail_to @person.email, @person.email, :class => 'email'
        -if @person.twitter_handle.present?
          %li= link_to @person.twitter_handle, full_url(@person.twitter_handle, 'http://twitter.com/'), :class => 'twitter'
        -if @person.facebook_url.present?
          %li= link_to @person.facebook_url, full_url(@person.facebook_url, 'http://facebook.com/'), :class => 'facebook'
        -if @person.linked_in_url.present?
          %li= link_to @person.linked_in_url, full_url(@person.linked_in_url, 'http://linkedin.com/in/'), :class => 'linked-in'
        -if @person.website.present?
          %li= link_to @person.website, full_url(@person.website), :class => 'website'

.row
  .span4
    -unless @person.dummy?
      %p= link_to "Edit #{@person.posessive} Info", '#edit-person', 'data-toggle' => 'modal'

      = render @person.address

      %ul
        - @person.phones.each do |phone|
          %li
            %span.muted= phone.kind
            = phone.number

      %section#email-subscription
        %h5 Email Lists
        = form_for @person do |form|
          .do-not-email
            = form.label :do_not_email, :class => "checkbox" do
              = form.check_box :do_not_email, :class => "checkbox"
              %span Do Not Email
          - if @person.organization.kits.mailchimp
            .mailchimp-list
              - mailchimp_kit = @person.organization.kits.mailchimp
              = hidden_field_tag "person[subscribed_lists][]", nil, :id => "person_subscribed_lists_empty"
              - mailchimp_kit.attached_lists.each do |list|
                = label_tag "", :class => "checkbox" do
                  = check_box_tag "person[subscribed_lists][]", list[:list_id], @person.subscribed_lists.include?(list[:list_id]), :class => "checkbox mail-chimp-list", :disabled => @person.do_not_email
                  %span= list[:list_name]
          = form.submit "Save", :class => 'btn hidden'

  .span8
    #notes
    .row-fluid
      .span3
        %h3 Notes
      .span9
        = icon_link_to("Add", new_person_note_path(@person, :format => :html), 'icon-plus-sign', 'btn new-note-link', '')
    .person-inline-form.new-note-form{:style => 'display:none;'}
      = form_for [@person, Note.new] do |form|
        = form.text_area :text, :size => "125x5", :class => 'input-xxlarge', :placeholder => "This is a good place for little nuggets about #{@person.first_name} you don't want to forget..."
        = form.submit "Save", :class => "btn btn-primary"
        = link_to 'Cancel', '#', :onclick => "$('.new-note-form').hide()", :class => 'btn'

    %table.table-condensed.table#notes-list
      %tbody
        - if @notes.empty?
          %tr
            %td No notes for this person
        - else
          = render @notes[0..2]
        - if @notes[3]
          %tr#more-notes-link
            %td.triangle &#9656;
            %td= link_to pluralize(@notes.length-3, 'more note'), "#"
          %tbody#more-notes{:style => 'display:none'}
            = render @notes[3..-1]

    #actions
      .row-fluid
        .span3
          %h3 Action Feed
        .span9
          = icon_link_to("Add", new_person_action_path(@person, :format => :html, :type => :hear), 'icon-plus-sign', 'btn new-action-link', '')

      .person-inline-form.action-form.new-action-form{:style => 'display:none;'}
        = render :partial => 'actions/inline', :locals => {:target => @person, :action => @new_action}

      %table.table-condensed.sortedstar.table#action-list
        %thead
          %tr
            %th
            %th{:style => 'width:60px;'} Date
            %th{:style => 'width:25px'}
            %th #{@person.first_name}...
        %tbody
          - if @actions.empty?
            %tr
              %td
              %td
              %td 
              %td No actions for this person
          - else
            = render :partial => 'actions/action', :collection => @actions

      = will_paginate @actions, :id => 'endless-scroll-pagination'

= render 'edit_modal'
#edit-order-popup.modal

- if current_user.current_organization.kits.mailchimp
  .modal#subscribe-modal(role="dialog")
    .modal-header
      %button(type="button" class="close" data-dismiss="modal" aria-hidden="true") ×
      %h3 MailChimp List Subscription
    .modal-body
      %p #{@person.first_name} #{@person.last_name} will receive an email from MailChimp confirming their addition to this list
    .modal-footer
      %button(class="btn" data-dismiss="modal" aria-hidden="true") Cancel
      %button(class="btn btn-primary") OK