- in_section :dashboard

= render :partial => 'layouts/admin_messages'

.row
  .span4
    .well
      .row-fluid
        .span4
          = gravatar_image_tag(current_user.email, :alt => 'User icon', :class => 'dashboard-grav', :gravatar => { :size => 64 })
        .span8
          - if current_user.is_in_organization?          
            %b= "#{truncate(current_user.email, :length => 28, :separator => ' ', :omission => '...')}"

            = link_to "Account Administration", organization_path(current_user.current_organization)
            = link_to "Sign Out", destroy_user_session_path
          - else
            You are not in an organization yet.  Ask your organization administrator to add you, or
            =link_to "create your own.", new_organization_path

    %h3 Events
    - unless @events.blank?
      %ul#event-list.row-fluid
        - @events.each do |event|
          %li.row-fluid.event-list-item{:style => "margin-left: 0px; margin-right:10px'"}
            .span12
              .row-fluid
                .span4.event-icon-container
                  = render :partial => 'shared/event_image_icon', :locals => { :event => event }
                .span8
                  %h4= link_to event.name, event_path(event), :title => 'event-name'
                  %ul.mini-stats
                    %li= "#{number_as_cents(event.glance.sales_played)} total played"
                    %li= "#{number_as_cents(event.glance.sales_advance)} advance sales"

    -if @events.blank?
      .no-image#add-a-description
        #text
          =link_to 'Create a new event', new_event_path
          %p
            Creating an event is the first step toward scheduling shows and selling tickets. 
    -else
      = link_to "Create Event", new_event_path, :class => "btn btn-primary"
      %span.pull-right
        =icon_link_to("View All Events", events_path, 'icon-arrow-right', 'btn', '')

  .span8
    =render :partial => 'recent_activity'
