- content_for :preview_text do
  Your Daily Order Report of #{@tix.organization.name} #{l @tix.start_date, :format => :date} #{number_to_currency((@tix.total + @donations.total) / 100.0)}

%h1
  Daily Total: #{number_to_currency((@tix.total + @donations.total) / 100.0)}
%h2
  #{@tix.organization.name}: #{l @tix.start_date, :format => :date}

- if ! @tix.rows.empty?
  %h3 Tickets: #{number_to_currency(@tix.total / 100.0)}
  %table.tabular-data{:cellspacing => "0"}
    %tr
      %th Order
      %th Total
      %th Customer
      %th.w200 Details
      %th Special Instructions
    - @tix.rows.each do |row|
      %tr
        %td.order-number= link_to row.id, order_url(id: row.id)
        %td.total= row.total
        %td= link_to row.person, person_url(id: row.person_id)
        %td.w200= row.ticket_details
        %td= row.special_instructions
- else
  %p There were no orders placed.


- if ! @tix.exchange_rows.empty?
  %h3 Exchanges
  %table.tabular-data{:cellspacing => "0"}
    %tr
      %th Order
      %th Customer
      %th Details
    - @tix.exchange_rows.each do |row|
      %tr
        %td.order-number= link_to row.id, order_url(id: row.id)
        %td= link_to row.person, person_url(id: row.person_id)
        %td= row.ticket_details

- if ! @donations.rows.empty?
  %h3 Donations: #{number_to_currency(@donations.total / 100.0)}
  %table.tabular-data{:cellspacing => "0"}
    %tr
      %th Order
      %th Donation
      %th Customer
    - @donations.rows.each do |row|
      %tr
        %td.order-number= link_to row.id, order_url(id: row.id)
        %td.total= row.total
        %td= link_to row.person, person_url(id: row.person_id)
- elsif @tix.organization.has_kit?(:regular_donation)
  %p There were no donations made.

- content_for :footer do
  = render :partial => "fine_print"
  %p
    To turn off this daily email report,
    = link_to "edit your organization here.", edit_organization_url(@tix.organization)
